// Heading Color
// $heading: #303030;

// // Text Color
// $text: #707070;

// // Gray Background
// $bg-gray: #e7f2fd;

// // Primary Color
// $primary: #beafcb;

// // White Color
// $white: #ffffff;

// // Dark Color
// $dark: #000000;

// // Border Color
// $border: #ebebeb;

// // Hover Color
// $hover: #ccd6eb;

// // Secondary Color
// $secondary: #f4bfbe;

  $heading: #303030; //[Heading Color]
  $text: #707070; //[Text Color]
  $bg-gray: #ccd6eb; //[Gray Background]
  $primary: #beafcb; //[Primary Color]
  $white: #ffffff; //[White Color]
  $dark: #000000; //[Dark Color]
  $border: #ebebeb; //[Border Color]
  $hover: #beafcb; //[Hover Color]
  $secondary: #f4bfbe; //[Secondary Color]
