// Heading Color
// $heading: #303030;

// // Text Color
// $text: #707070;

// // Gray Background
// $bg-gray: #e7f2fd;

// // Primary Color
// $primary: #da627d;

// // White Color
// $white: #ffffff;

// // Dark Color
// $dark: #000000;

// // Border Color
// $border: #ebebeb;

// // Hover Color
// $hover: #1583e9;

// // Secondary Color
// $secondary: #a6a6a6;

  $heading: #303030; //[Heading Color]
  $text: #707070; //[Text Color]
  $bg-gray: #f9dbbd; //[Gray Background]
  $primary: #da627d; //[Primary Color]
  $white: #ffffff; //[White Color]
  $dark: #000000; //[Dark Color]
  $border: #ebebeb; //[Border Color]
  $hover: #da627d; //[Hover Color]
  $secondary: #a6a6a6; //[Secondary Color]
